@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
/* 110E17
151927 */
body {
  background: #acb6e5; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to right,
    #86fde8,
    #acb6e5
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to right,
    #86fde8,
    #acb6e5
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  /* background: #f8f8f8; */
  font-family: "Roboto", sans-serif;
  width: 100%;
  height: auto;
}
section.chat_section {
  width: 800px;
  max-width: 90%;
  background: #fff;
  box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1),
    0 4px 6px -2px rgba(0, 0, 0, 0.05);
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  border-radius: 20px;
}
.brand {
  border-radius: 20px 20px 0 0;
  padding: 20px;
  background: #fff;
  box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1),
    0 4px 6px -2px rgba(0, 0, 0, 0.05);
  display: flex;
  align-items: center;
}
.brand h1 {
  text-transform: uppercase;
  font-size: 20px;
  color: #444;
  margin-left: 10px;
}
.message_area {
  height: 500px;
  padding: 16px;
  display: flex;
  flex-direction: column;
  overflow-y: auto;
  padding-top: 40px;
}
textarea {
  margin-left: 10px;
  margin-right: 10px;
  margin-bottom: 12px;
  margin-top: 12px;
  width: 700px;
  border: none;
  border-radius: 20px;
  padding: 20px;
  font-size: 16px;
  outline: none;
  background: rgba(0, 0, 0, 0.1);
  resize: none;
}

.message {
  padding: 20px;
  border-radius: 20px;
  margin-bottom: 40px;
  max-width: 300px;
  position: relative;
}
.incoming {
  background: #8f8be8;
  color: #fff;
}
.outgoing {
  background: #e9eafd;
  color: #787986;
  margin-left: auto;
}
.message h4 {
  position: absolute;
  top: -20px;
  left: 0;
  color: #333;
  font-size: 14px;
}
.main {
  display: flex;
  padding: 10px;
  justify-content: center;
  align-items: center;
}
.send {
  float: right;
  background-color: #8f8be8;
  color: white;
  border: none;
  height: 50px;
  line-height: 50px;
  width: 50px;
  max-width: 50px;
  min-width: 50px;
  border-radius: 50%;
  font-size: 20px;
  margin: 10px;
  text-align: center;
  cursor: pointer;
}
